spring:
  kafka:
    bootstrap-servers: kafka:9092
  mail:
    host: mailhog
    port: 1025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false